@font-face {
    font-family: 'latobold';
    src: url("/themes/common/fonts/lato-bold-webfont.eot");
    src: url("/themes/common/fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/themes/common/fonts/lato-bold-webfont.woff2") format("woff2"),
    url("/themes/common/fonts/lato-bold-webfont.woff") format("woff"),
    url("/themes/common/fonts/lato-bold-webfont.ttf") format("truetype"),
    url("/themes/common/fonts/lato-bold-webfont.svg#latobold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url("/themes/common/fonts/opensans-bold-webfont.eot");
    src: url("/themes/common/fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/themes/common/fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("/themes/common/fonts/opensans-bold-webfont.woff") format("woff"),
    url("/themes/common/fonts/opensans-bold-webfont.ttf") format("truetype"),
    url("/themes/common/fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url("/themes/common/fonts/opensans-regular-webfont.eot");
    src: url("/themes/common/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("/themes/common/fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("/themes/common/fonts/opensans-regular-webfont.woff") format("woff"),
    url("/themes/common/fonts/opensans-regular-webfont.ttf") format("truetype"),
    url("/themes/common/fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensed';
    src: url("/themes/common/fonts/RobotoCondensed-Regular-webfont.eot");
    src: url("/themes/common/fonts/RobotoCondensed-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("/themes/common/fonts/RobotoCondensed-Regular-webfont.woff2") format("woff2"),
    url("/themes/common/fonts/RobotoCondensed-Regular-webfont.woff") format("woff"),
    url("/themes/common/fonts/RobotoCondensed-Regular-webfont.ttf") format("truetype"),
    url("/themes/common/fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

a { text-decoration: none; }

.page-title .container { overflow: hidden; }

.bitcoin.step-1, .bitcoin.step-2 { position: relative; margin: 0 auto; padding: 40px 0; }

.bitcoin.step-1 > .coin-header, .bitcoin.step-2 > .coin-header { height: 38px; background-color: #F7F7F7; border-top-left-radius: 6px; border-top-right-radius: 6px; text-align: center; padding-top: 20px; }

.bitcoin.step-1 > .coin-header .icon.logotype, .bitcoin.step-2 > .coin-header .icon.logotype { display: block; margin: 0 auto; background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -171px; width: 185px; height: 26px; }

.bitcoin.step-1 > .coin-footer, .bitcoin.step-2 > .coin-footer { text-align: center; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; background: url("../../../../img/bitcoin/img-bg-cart-bitcoin.png") no-repeat center; }

.bitcoin.step-1 > .coin-footer .text-main, .bitcoin.step-2 > .coin-footer .text-main { font-family: "roboto_condensed", arial, sans-serif; color: #fff; line-height: 1.5; }

.bitcoin.step-1 > .coin-footer .text-main span.orange, .bitcoin.step-2 > .coin-footer .text-main span.orange { color: #F7931A; text-transform: uppercase; display: inline; }

.bitcoin.step-1 { width: 425px; height: 240px; }

.bitcoin.step-1 > .coin-footer { width: 425px; height: 182px; }

.bitcoin.step-1 > .coin-footer .text-main { font-size: 18px; padding-top: 65px; }

.bitcoin.step-2 { width: 333px; height: 190px; }

.bitcoin.step-2 > .coin-footer { width: 333px; height: 132px; }

.bitcoin.step-2 > .coin-footer .text-main { font-size: 16px; padding-top: 40px; }

.container-bitcoin { font-family: "open_sansregular", arial, sans-serif; position: relative; zoom: 1; z-index: 11; padding-top: 20px; padding-bottom: 20px; letter-spacing: 0; background: #fff;}

.container-bitcoin .bitcoin-form { margin: 10px 0; *padding: 10px 0; }

.container-bitcoin .bitcoin-form .row.bitcoin { position: relative; width: 486px; height: 366px; margin: 0 auto; }

.container-bitcoin .bitcoin-form .row.bitcoin .header-bit { border: 1px solid #d8d8d8; height: 365px; background-color: #fafafa;  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);}

.container-bitcoin .footer-bit { text-align: center; width: 486px; margin: 0 auto; }

.container-bitcoin .footer-bit > * { font-size: 13px; font-family: "open_sansregular", arial, sans-serif; color: #787878; line-height: 1.5; }

.container-bitcoin .footer-bit a { text-decoration: underline; color: #1473ca; }

.container-bitcoin .footer-bit a, .container-bitcoin .footer-bit > p span { font-family: "open_sansregular", arial, sans-serif; }

#bitcoin .header-bit { border-radius: 6px; }

#bitcoin .header-bit .top { height: 39px; border-radius: 6px 6px 0 0; border-bottom: 1px solid #D8D8D8; text-align: center; padding-top: 18px; background: #E5E5E5; background: -webkit-linear-gradient(top, #E5E5E5 0%, #F6F6F6 100%); background: linear-gradient(to bottom, #E5E5E5 0%, #F6F6F6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E5E5', endColorstr='#F6F6F6',GradientType=0 ); }

#bitcoin .header-bit .top .icon.logotype { display: block; margin: 0 auto; background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -171px; width: 185px; height: 26px; }

#bitcoin .header-bit .main-block .total-block, #bitcoin .header-bit .main-block .paid-block { float: left; height: 40px; line-height: 40px; padding: 0 25px; }

#bitcoin .header-bit .main-block .total-block > .text, #bitcoin .header-bit .main-block .total-block > .sum, #bitcoin .header-bit .main-block .paid-block > .text, #bitcoin .header-bit .main-block .paid-block > .sum { font-size: 14px; font-family: "open_sansbold", arial, sans-serif; }

#bitcoin .header-bit .main-block .total-block > .text, #bitcoin .header-bit .main-block .paid-block > .text { float: left; line-height: 40px; }

#bitcoin .header-bit .main-block .total-block > .sum, #bitcoin .header-bit .main-block .paid-block > .sum { float: right; line-height: 40px; }

#bitcoin .header-bit .main-block .total-block { background-color: #E9F4FD; }

#bitcoin .header-bit .main-block .total-block > .text, #bitcoin .header-bit .main-block .total-block > .sum { color: #1473CA; }

#bitcoin .header-bit .main-block .paid-block { background-color: #E9FDF0; }

#bitcoin .header-bit .main-block .paid-block > .text, #bitcoin .header-bit .main-block .paid-block > .sum { color: #02B875; }

#bitcoin .header-bit .main-block .qr-block { padding: 5px 25px 18px; *padding: 0 25px; clear: both; overflow: hidden; }

#bitcoin .header-bit .main-block .qr-block #qrcode { float: left; width: 100px; height: 100px; }

#bitcoin .header-bit .main-block .qr-block #qrcode > img { display: block; max-width: 100%; height: auto; }

#bitcoin .header-bit .main-block .qr-block #info_text > p { font-size: 14px; font-family: "open_sansbold", arial, sans-serif; color: #333333; line-height: 1.4; min-height: 55px; margin-bottom: 12px; }

#bitcoin .header-bit .main-block .qr-block #info_text > p > span.sum { color: #1473CA;  float: none; }

#bitcoin .header-bit .main-block .qr-block #info_text > p > span.quote { font-family: "open_sansregular", arial, sans-serif; float: none; }

#bitcoin .header-bit .main-block .qr-block .row { float: right; width: 314px; margin-bottom: 0; }

#bitcoin .header-bit .main-block .qr-block .row > .code { width: 100%; height: 44px; line-height: 47px; text-align: center; border-radius: 6px; background-color: #F5F5F5; }

#bitcoin .header-bit .main-block .qr-block .row > .code > span { font-size: 13px; font-family: "open_sansbold", arial, sans-serif; color: #1473CA; float: none; margin-right: 0;}

#bitcoin .header-bit .main-block .qr-block .row .btn-container { margin-top: 11px; }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a { font-size: 12px; font-family: "open_sansbold", arial, sans-serif; color: #fff; text-align: center; padding-top: 12px; width: 151px; height: 32px; border-radius: 6px; box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3); background: #FF9F1E; background: -webkit-linear-gradient(top, #FF9F1E 0%, #FF8000 100%); background: linear-gradient(to bottom, #FF9F1E 0%, #FF8000 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF9F1E', endColorstr='#FF8000',GradientType=0 ); }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a:first-child { margin-right: 10px; }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a > i { display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; margin-right: 5px; }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a.btn-copy { float: left; }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a.btn-copy .icon.icon-copy { background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -139px; width: 18px; height: 22px; }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a.btn-open { float: right; }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a.btn-open .icon.icon-open { background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -107px; width: 22px; height: 22px; }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a:hover { width: 147px; height: 30px; padding-top: 10px; color: #FF8305; border: 2px solid #FF8305; box-shadow: none; }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a:hover .icon.icon-copy { background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -45px; width: 18px; height: 21px; }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a:hover .icon.icon-open { background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -76px; width: 21px; height: 21px; }

#bitcoin .header-bit .main-block .qr-block .row .btn-container a:hover { background: #FEFEFE; background: -webkit-linear-gradient(top, #FEFEFE 0%, #F7F7F7 100%); background: linear-gradient(to bottom, #FEFEFE 0%, #F7F7F7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#F7F7F7',GradientType=0 ); }

#bitcoin .header-bit .main-block .loader-block { position: relative; clear: both; }

#bitcoin .header-bit .main-block .btn-block { position: relative; margin: 17px 0; padding-bottom: 17px; }

#bitcoin .header-bit .main-block .btn-block a.btn { display: block; width: 426px; height: 32px; margin: 0 auto; padding-top: 12px; border-radius: 6px; box-shadow: inset 0 -2px 0 0 #c7c7c7; text-align: center; font-size: 13px; font-family: "open_sansbold", arial, sans-serif; color: #333333; background: #F6F6F6; background: -webkit-linear-gradient(top, #F6F6F6 0%, #E5E5E5 100%); background: linear-gradient(to bottom, #F6F6F6 0%, #E5E5E5 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F6F6F6', endColorstr='#E5E5E5',GradientType=0 ); }

#bitcoin .header-bit .main-block .btn-block a.btn > i { position: relative; top: -1px; margin-right: 5px; vertical-align: middle; display: inline-block; *display: inline; *zoom: 1; background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px 0px; width: 13px; height: 12px; }

#bitcoin .header-bit .main-block .btn-block a.btn:hover { color: #fff; background: #FF9F1E; background: -webkit-linear-gradient(top, #FF9F1E 0%, #FF8000 100%); background: linear-gradient(to bottom, #FF9F1E 0%, #FF8000 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF9F1E', endColorstr='#FF8000',GradientType=0 ); }

#bitcoin .header-bit .main-block .btn-block a.btn:hover > i { top: -1px; }

#bitcoin .header-bit .main-block .btn-block a.btn:hover .icon.icon-sent { background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -22px; width: 13px; height: 13px; height: 12px; }

#bitcoin .header-bit .main-block .btn-block a.btn:hover { box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3); }

#bitcoin .header-bit .main-block .btn-block a.btn.active i.icon.icon-sent { display: inline-block; *display: inline; *zoom: 1; background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px 0px; width: 13px; height: 12px; width: 12px; height: 12px; -webkit-animation: rotating .8s linear infinite; animation: rotating .8s linear infinite; }

#bitcoin .header-bit .main-block .btn-block a.btn.active:hover { color: #333; box-shadow: inset 0 -2px 0 0 #c7c7c7; background: #F6F6F6; background: -webkit-linear-gradient(top, #F6F6F6 0%, #E5E5E5 100%); background: linear-gradient(to bottom, #F6F6F6 0%, #E5E5E5 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F6F6F6', endColorstr='#E5E5E5',GradientType=0 ); }

#bitcoin .header-bit .main-block .dear-block { display: none; text-align: center; line-height: 1.5; margin-top: 21px; padding: 0 15px; }

#bitcoin .header-bit .main-block .dear-block > h2 { font-size: 16px; font-family: "open_sansbold", arial, sans-serif; color: #333; }

#bitcoin .header-bit .main-block .dear-block > p.first-child { font-size: 16px; font-family: "open_sansbold", arial, sans-serif; color: #02B875; }

#bitcoin .header-bit .main-block .dear-block > p.second-child { font-size: 14px; color: #333; }

.steps-1 #bitcoin .header-bit .main-block .loader-block, .steps-2 #bitcoin .header-bit .main-block .loader-block { height: 46px; overflow: hidden; }

.steps-1 #bitcoin .header-bit .main-block .loader-block .slider, .steps-2 #bitcoin .header-bit .main-block .loader-block .slider { *display: none; }

.steps-1 #bitcoin .header-bit .main-block .loader-block i.ie-preloader, .steps-2 #bitcoin .header-bit .main-block .loader-block i.ie-preloader { display: none; *display: block; width: 100%; height: 48px; background: url("../../img/bitcoin/line_blue.png") repeat-x center; }

.steps-1 #bitcoin .header-bit .main-block .loader-block > p.text-success, .steps-2 #bitcoin .header-bit .main-block .loader-block > p.text-success { position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center; line-height: 46px; font-size: 15px; color: #ffF; }

.steps-1 #bitcoin .header-bit .main-block .total-block { width: 436px; }

.steps-1 #bitcoin .header-bit .main-block .paid-block { display: none; }

.steps-1 #bitcoin .header-bit .main-block .qr-block #info_text > p,
.steps-2.steps-0 #bitcoin .header-bit .main-block .qr-block #info_text > p{ line-height: 55px; }

.steps-2 #bitcoin .header-bit .main-block .total-block, .steps-2 #bitcoin .header-bit .main-block .paid-block { display: block; width: 192px; }

.steps-2 #bitcoin .header-bit .main-block .qr-block > p > span.sum { color: #D0021B; }

.steps-3 #bitcoin .header-bit .main-block .loader-block, .steps-4 #bitcoin .header-bit .main-block .loader-block { text-align: center; margin-top: 85px; }

.steps-3 #bitcoin .header-bit .main-block .loader-block img, .steps-4 #bitcoin .header-bit .main-block .loader-block img { opacity: 0; margin: 0 auto; }

.steps-3 #bitcoin .header-bit .main-block .loader-block img:nth-child(2), .steps-3 #bitcoin .header-bit .main-block .loader-block img:last-child, .steps-4 #bitcoin .header-bit .main-block .loader-block img:nth-child(2), .steps-4 #bitcoin .header-bit .main-block .loader-block img:last-child { position: absolute; top: 20px; left: -1px; right: 0; }

.steps-3 #bitcoin .header-bit .main-block .loader-block .img-0, .steps-4 #bitcoin .header-bit .main-block .loader-block .img-0 { opacity: 1; }

.steps-3 #bitcoin .header-bit .main-block .loader-block .preloader-fadeIn, .steps-4 #bitcoin .header-bit .main-block .loader-block .preloader-fadeIn { -webkit-animation: preloader-zoomIn 1s linear; animation: preloader-zoomIn 1s linear; }

.steps-3 #bitcoin .header-bit .main-block .loader-block .preloader-fadeOut, .steps-4 #bitcoin .header-bit .main-block .loader-block .preloader-fadeOut { -webkit-animation: preloader-zoomOut 1s linear; animation: preloader-zoomOut 1s linear; }

.steps-3 #bitcoin .header-bit .main-block .loader-block .preloader-right, .steps-4 #bitcoin .header-bit .main-block .loader-block .preloader-right { -webkit-animation: preloaderAnimateRight 1.2s ease-in-out; animation: preloaderAnimateRight 1.2s ease-in-out; }

.steps-3 #bitcoin .header-bit .main-block .loader-block .preloader-left, .steps-4 #bitcoin .header-bit .main-block .loader-block .preloader-left { -webkit-animation: preloaderAnimateLeft .3s ease-in-out; animation: preloaderAnimateLeft .3s ease-in-out; }

@-webkit-keyframes sliderAnimate { 0% { margin-left: 0; }
  100% { margin-left: -44px; } }

@keyframes sliderAnimate { 0% { margin-left: 0; }
  100% { margin-left: -44px; } }

@-webkit-keyframes preloaderAnimateRight { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes preloaderAnimateRight { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@-webkit-keyframes preloaderAnimateLeft { 0% { opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% { opacity: 0;
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg); } }

@keyframes preloaderAnimateLeft { 0% { opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% { opacity: 0;
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg); } }

@-webkit-keyframes preloader-zoomIn { 0% { opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  100% { opacity: 1; } }

@keyframes preloader-zoomIn { 0% { opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  100% { opacity: 1; } }

@-webkit-keyframes preloader-zoomOut { 0% { opacity: 1; }
  50% { -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% { opacity: 0; } }

@keyframes preloader-zoomOut { 0% { opacity: 1; }
  50% { -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% { opacity: 0; } }

@-webkit-keyframes rotating { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes rotating { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

.row-left, .row-right { padding: 25px 0; float: none;  margin: auto;}

.row-left { width: 660px; text-align: center; }

.row-left h2 { font-size: 26px; font-family: "roboto_condensed", arial, sans-serif; }

.row-left p { font-size: 16px; line-height: 1.4; color: #787878; margin-top: 27px; }

.row-left p > span { color: #1473CA; }

.row-right { width: 280px; }

.modal-open { overflow: hidden; }

.modal-window { display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 10000; margin: auto; background-color: rgba(0, 0, 0, 0.3); }

.modal-window a.btn.btn-close-video { position: absolute; top: 15px; right: 15px; background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -287px; width: 32px; height: 32px; }

.modal-window a.btn.btn-close-video:hover { background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -329px; width: 32px; height: 32px; }

.modal-window .video-container { position: absolute; width: 90%; height: 80%; left: 0; right: 0; top: 0; bottom: 0; *top: 5%; *left: 50%; margin: auto; *margin-left: -45%; }

.accordion { letter-spacing: 0; line-height: 1.5; }

.accordion a { color: #1473CA; font-size: 14px; }

.accordion ul > li { list-style-type: disc; }

.accordion .accordion-section-title { display: block; width: auto; height: 73px; margin-bottom: -1px; border: 1px solid #E3E6E9; overflow: hidden; position: relative; background-color: #FAFDFF; }

.accordion .accordion-section-title.last-child { margin-bottom: 0; }

.accordion .accordion-section-title.active > i.icon.icon-arrow { background: url("../../../../img/bitcoin/i-arrow-open.png") no-repeat center; }

.accordion .accordion-section-title.active > .txt-accord { color: #F7931A; }

.accordion .accordion-section-title:hover > .txt-accord { color: #F7931A; }

.accordion .accordion-section-title .txt-accord { font-size: 22px; font-family: "roboto_condensed", arial, sans-serif; line-height: 73px; color: #333333; padding-left: 30px; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }

.accordion .accordion-section-title .img-row { position: absolute; top: 11.5px; right: 105px; height: 50px; line-height: 50px; padding: 0 0 11.5px; }

.accordion .accordion-section-title .img-row > img { margin-left: 20px; vertical-align: middle; }

.accordion .accordion-section-title > i.icon.icon-arrow { position: absolute; right: 0; top: 0; width: 74px; height: 75px; border-left: 1px solid #E3E6E9; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; background: url("../../../../img/bitcoin/i-arrow-close.png") no-repeat center; }

.accordion .accordion-section-content { display: none; padding: 30px; background-color: #FDFDFD; border-right: 1px solid #E3E6E9; border-left: 1px solid #E3E6E9; font-size: 16px; }

.accordion .accordion-section-content .localbit-mobile { display: none; }

.accordion .accordion-section-content .description-img { overflow: hidden; }

.accordion .accordion-section-content .description-img > p { float: left; width: 60%; }

.accordion .accordion-section-content .description-img > p:first-child { margin-top: 5px; }

.accordion .accordion-section-content .description-img > img { float: right; width: 40%; margin-top: 0; }

.accordion .accordion-section-content img { margin: 20px 0 0; max-width: 100%; }

.accordion .accordion-section-content a.link-site, .accordion .accordion-section-content a.link-other-site { color: #1473CA; }

.accordion .accordion-section-content a.link-get { font-family: "latobold", arial, sans-serif; color: #333; }

.accordion .accordion-section-content p { margin-bottom: 20px; }

.accordion .accordion-section-content p.title { font-family: "latobold", arial, sans-serif; }

.accordion .accordion-section-content ul, .accordion .accordion-section-content ol { margin-left: 15px; }

.accordion .accordion-section-content ul li, .accordion .accordion-section-content ol li { font-size: 14px; margin-bottom: 20px; }

.accordion .accordion-section-content ul li a, .accordion .accordion-section-content ol li a { color: #1473CA; }

.accordion .accordion-section-content ul.half { overflow: hidden; }

.accordion .accordion-section-content ul.half > li { float: left; width: 50%; margin: 2.5px 0; list-style: none; }

.accordion .accordion-section-content ul.half > li a { text-decoration: underline; }

.accordion .accordion-section-content ul.half > li a:hover { color: #333; text-decoration: none; }

.bit-header p { font-size: 16px; color: #787878; line-height: 1.5; }

.bit-header p span { color: #1473CA; }

.bit-header p span > strong { font-family: "latobold", arial, sans-serif; }

.container.last { margin-bottom: 40px; }

.aligner { display: inline-block; *display: inline; *zoom: 1; height: 100%; margin-right: -0.1em; vertical-align: middle; }

.lang_jp #bitcoin .header-bit .main-block .paid-block > .text, .lang_jp #bitcoin .header-bit .main-block .paid-block > .sum, .lang-jp #bitcoin .header-bit .main-block .paid-block > .text, .lang-jp #bitcoin .header-bit .main-block .paid-block > .sum { font-size: 12px; }

.lang-de .back-to-cart span, .lang-jp .back-to-cart span, .lang_de .back-to-cart span, .lang_jp .back-to-cart span { font-size: 12px !important; }

.lang_jp #bitcoin .header-bit .main-block .btn-block a.btn, .lang-jp #bitcoin .header-bit .main-block .btn-block a.btn { font-size: 11px; }

.lang_fr #bitcoin .header-bit .main-block .qr-block > .row > .btn-container > a, .lang-fr #bitcoin .header-bit .main-block .qr-block > .row > .btn-container > a { font-size: 12px; }

.lang-de .bitcoin.step-2 > .coin-footer .text-main { font-size: 17px; padding: 30px 10px 0 10px; }

.lang-pt .accordion .accordion-section-title .txt-accord, .lang-de .accordion .accordion-section-title .txt-accord, .lang-es .accordion .accordion-section-title .txt-accord, .lang-jp .accordion .accordion-section-title .txt-accord, .lang-it .accordion .accordion-section-title .txt-accord, .lang-fr .accordion .accordion-section-title .txt-accord, .lang_pt .accordion .accordion-section-title .txt-accord, .lang_de .accordion .accordion-section-title .txt-accord, .lang_es .accordion .accordion-section-title .txt-accord, .lang_jp .accordion .accordion-section-title .txt-accord, .lang_it .accordion .accordion-section-title .txt-accord, .lang_fr .accordion .accordion-section-title .txt-accord { font-size: 19px; }

.lang-pt .container-bitcoin .footer-bit, .lang-de .container-bitcoin .footer-bit, .lang-es .container-bitcoin .footer-bit, .lang-jp .container-bitcoin .footer-bit, .lang-it .container-bitcoin .footer-bit, .lang-fr .container-bitcoin .footer-bit, .lang_pt .container-bitcoin .footer-bit, .lang_de .container-bitcoin .footer-bit, .lang_es .container-bitcoin .footer-bit, .lang_jp .container-bitcoin .footer-bit, .lang_it .container-bitcoin .footer-bit, .lang_fr .container-bitcoin .footer-bit { margin-top: 3px !important; padding-top: 3px !important; }

.lang-pt .container-bitcoin .footer-bit > *, .lang-de .container-bitcoin .footer-bit > *, .lang-es .container-bitcoin .footer-bit > *, .lang-jp .container-bitcoin .footer-bit > *, .lang-it .container-bitcoin .footer-bit > *, .lang-fr .container-bitcoin .footer-bit > *, .lang_pt .container-bitcoin .footer-bit > *, .lang_de .container-bitcoin .footer-bit > *, .lang_es .container-bitcoin .footer-bit > *, .lang_jp .container-bitcoin .footer-bit > *, .lang_it .container-bitcoin .footer-bit > *, .lang_fr .container-bitcoin .footer-bit > * { font-size: 11px; }

.lang-pt .container-bitcoin .footer-bit a, .lang-de .container-bitcoin .footer-bit a, .lang-es .container-bitcoin .footer-bit a, .lang-jp .container-bitcoin .footer-bit a, .lang-it .container-bitcoin .footer-bit a, .lang-fr .container-bitcoin .footer-bit a, .lang_pt .container-bitcoin .footer-bit a, .lang_de .container-bitcoin .footer-bit a, .lang_es .container-bitcoin .footer-bit a, .lang_jp .container-bitcoin .footer-bit a, .lang_it .container-bitcoin .footer-bit a, .lang_fr .container-bitcoin .footer-bit a { display: block; }

.loader-block.ie { display: none; }

.ie7 .steps-4 #bitcoin .header-bit .main-block .loader-block.nie, .ie8 .steps-4 #bitcoin .header-bit .main-block .loader-block.nie { display: none; }

.ie7 .steps-4 #bitcoin .header-bit .main-block .loader-block.ie, .ie8 .steps-4 #bitcoin .header-bit .main-block .loader-block.ie { display: block; }

.ie7 .steps-1 #bitcoin .header-bit .main-block .loader-block i.ie-preloader, .ie7 .steps-2 #bitcoin .header-bit .main-block .loader-block i.ie-preloader, .ie8 .steps-1 #bitcoin .header-bit .main-block .loader-block i.ie-preloader, .ie8 .steps-2 #bitcoin .header-bit .main-block .loader-block i.ie-preloader { display: block; }

.ie7 .steps-1 #bitcoin .header-bit .main-block #qrcode, .ie7 .steps-2 #bitcoin .header-bit .main-block #qrcode, .ie8 .steps-1 #bitcoin .header-bit .main-block #qrcode, .ie8 .steps-2 #bitcoin .header-bit .main-block #qrcode { display: none; }

.ie7 .steps-1 #bitcoin .header-bit .main-block .qr-block .row, .ie7 .steps-2 #bitcoin .header-bit .main-block .qr-block .row, .ie8 .steps-1 #bitcoin .header-bit .main-block .qr-block .row, .ie8 .steps-2 #bitcoin .header-bit .main-block .qr-block .row { width: 100%; }

.ie7 .steps-1 #bitcoin .header-bit .main-block .qr-block .row .btn-container a, .ie7 .steps-2 #bitcoin .header-bit .main-block .qr-block .row .btn-container a, .ie8 .steps-1 #bitcoin .header-bit .main-block .qr-block .row .btn-container a, .ie8 .steps-2 #bitcoin .header-bit .main-block .qr-block .row .btn-container a { width: 212px; }

.ie7 .steps-1 #bitcoin .header-bit .main-block .qr-block .row .btn-container a:hover, .ie7 .steps-2 #bitcoin .header-bit .main-block .qr-block .row .btn-container a:hover, .ie8 .steps-1 #bitcoin .header-bit .main-block .qr-block .row .btn-container a:hover, .ie8 .steps-2 #bitcoin .header-bit .main-block .qr-block .row .btn-container a:hover { width: 208px; }

.safari #bitcoin .header-bit .main-block .qr-block > .row > .btn-container > a.btn-copy { display: none; }

.safari #bitcoin .header-bit .main-block .qr-block > .row > .btn-container > a.btn-open { width: 100%; }

.safari #bitcoin .header-bit .main-block .qr-block > .row > .btn-container > a.btn-open:hover { width: 98.5%; }

.not-copy.qr-block > .row > .btn-container > a.btn-copy { display: none; }

.not-copy.qr-block > .row > .btn-container > a.btn-open { width: 100%; }

.not-copy.qr-block > .row > .btn-container > a.btn-open:hover { width: 98.5%; }

@media screen and (min-width: 320px) and (max-width: 990px) { .row-left, .row-right { width: 100%; text-align: center; } }

@media screen and (min-width: 320px) and (max-width: 767px) { canvas { width: 100%; height: 100%; }
  .bitcoin-wrap { top: 0; }
  .bitcoin-wrap .container-bitcoin { padding-top: 0; }
  .bitcoin-wrap .container-bitcoin .bitcoin-form { margin-top: 20px; }
  #bitcoin .footer-bit { padding: 10px 15px; }
  #bitcoin .footer-bit > * { color: #333; }
  #bitcoin .footer-bit a { color: #1473CA; }
  #bitcoin .footer-bit p > span { color: #1473CA; }
  .container-bitcoin { background: none; height: auto; }
  .container-bitcoin .footer-bit { width: 90%; padding-left: 15px; padding-right: 15px; }
  .container-bitcoin .footer-bit > * { color: #787878; }
  .container-bitcoin .footer-bit a { display: block; color: #333; }
  .accordion .accordion-section-title { width: 100%; height: 106px; margin: 0 auto; }
  .accordion .accordion-section-title .txt-accord { font-size: 16px; width: 70%; height: 40px; line-height: 1.5; float: left; padding-top: 10px; padding-bottom: 10px; }
  .accordion .accordion-section-title .img-row { top: 60px; left: 10px; height: 41px; line-height: 0; padding: 0; width: 77%; padding-top: 5px; }
  .accordion .accordion-section-title .img-row > img { max-width: 100%; }
  .accordion .accordion-section-title .img-row > img.nth-child { width: 10%; }
  .accordion .accordion-section-title i.icon.icon-arrow { height: 106px; }
  .accordion .accordion-section-title > span { display: block; }
  .accordion .accordion-section-content .description-img > p, .accordion .accordion-section-content .description-img > img { float: none; width: 100%; }
  .container-bitcoin .bitcoin-form .row.bitcoin { width: 100%; height: auto; }
  #bitcoin.row.bitcoin .header-bit { height: auto; }
  #bitcoin.row.bitcoin .header-bit .main-block .qr-block { padding: 18px 5px; *padding: 0 15px; }
  #bitcoin.row.bitcoin .header-bit .main-block .qr-block > p { height: auto; }
  #bitcoin.row.bitcoin .header-bit .main-block .qr-block #qrcode { float: none; margin: 0 auto 20px; width: 282px; height: 282px; }
  #bitcoin.row.bitcoin .header-bit .main-block .qr-block .row { float: none; width: 100%; }
  #bitcoin.row.bitcoin .header-bit .main-block .qr-block .row > .btn-container { margin: 20px 0; }
  #bitcoin.row.bitcoin .header-bit .main-block .qr-block .row > .btn-container > a { width: 100%; }
  #bitcoin.row.bitcoin .header-bit .main-block .qr-block .row > .btn-container > a:hover, #bitcoin.row.bitcoin .header-bit .main-block .qr-block .row > .btn-container > a:focus { width: 100%; }
  #bitcoin.row.bitcoin .header-bit .main-block .qr-block .row > .btn-container > a:first-child { margin-bottom: 15px; }
  #bitcoin.row.bitcoin .header-bit .main-block .btn-block { top: 0; }
  #bitcoin.row.bitcoin .header-bit .main-block .btn-block a.btn { width: 250px; height: 58px; padding-top: 7px; padding-left: 15px; padding-right: 15px; white-space: normal;}
  #bitcoin.row.bitcoin .header-bit .main-block .btn-block a.btn:hover i.icon.icon-sent { background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -207px; width: 30px; height: 30px; }
  #bitcoin.row.bitcoin .header-bit .main-block .btn-block a.btn i.icon.icon-sent { display: inline-block; *display: inline; *zoom: 1; background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -247px; width: 30px; height: 30px; top: 10px; }
  #bitcoin.row.bitcoin .header-bit .main-block .btn-block a.btn.btn-sent i.icon-sent { display: inline-block; *display: inline; *zoom: 1; background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -247px; width: 30px; height: 30px; }
  #bitcoin.row.bitcoin .header-bit .main-block .btn-block a.btn.btn-sent.active i.icon.icon-sent { vertical-align: baseline; }
  #bitcoin.row.bitcoin .header-bit .main-block .btn-block a.btn.btn-sent.active:hover i.icon.icon-sent { background-image: url(../../../../img/bitcoin/sp-checkout.png); background-position: 0px -207px; width: 30px; height: 30px; }
  #bitcoin.row.bitcoin .header-bit .main-block .dear-block { margin-top: 80px; padding-bottom: 21px; padding-left: 15px; padding-right: 15px; }
  .steps-3 #bitcoin .header-bit .main-block, .steps-4 #bitcoin .header-bit .main-block { height: 319px; }
  .steps-3 #bitcoin .header-bit .main-block .loader-block, .steps-4 #bitcoin .header-bit .main-block .loader-block { top: 50px; margin-top: 0; }
  .steps-1 #bitcoin .header-bit .main-block .loader-block, .steps-2 #bitcoin .header-bit .main-block .loader-block { height: 68px; }
  .steps-1 #bitcoin .header-bit .main-block .loader-block p.text-success, .steps-2 #bitcoin .header-bit .main-block .loader-block p.text-success { line-height: 68px; }
  .steps-1 #bitcoin .header-bit .main-block .loader-block .slider, .steps-2 #bitcoin .header-bit .main-block .loader-block .slider { left: -33px; }
  .steps-1 #bitcoin .header-bit .main-block .loader-block .slider > span, .steps-2 #bitcoin .header-bit .main-block .loader-block .slider > span { height: 68px; }
  .steps-1 #bitcoin .header-bit .main-block .total-block { width: 100%; padding: 0; }
  .steps-1 #bitcoin .header-bit .main-block .total-block .text { padding-left: 20px; }
  .steps-1 #bitcoin .header-bit .main-block .total-block .sum { padding-right: 20px; }
  .steps-2 #bitcoin .header-bit .main-block .total-block, .steps-2 #bitcoin .header-bit .main-block .paid-block { width: 100%; padding: 0; }
  .steps-2 #bitcoin .header-bit .main-block .total-block .text, .steps-2 #bitcoin .header-bit .main-block .paid-block .text { padding-left: 20px; }
  .steps-2 #bitcoin .header-bit .main-block .total-block .sum, .steps-2 #bitcoin .header-bit .main-block .paid-block .sum { padding-right: 20px; }
  .steps-1 #bitcoin .header-bit .main-block .qr-block #info_text > p { line-height: 25px; }
  .row-left p { padding-left: 15px; padding-right: 15px; }
  .accordion .accordion-section-content p { font-size: 15px; }
  .accordion .accordion-section-content ul li, .accordion .accordion-section-content ol li { font-size: 13px; }
  .accordion .accordion-section-content ul.half > li { width: 100%; }
  .localbit-desktop { display: none; }
  .accordion .accordion-section-content .localbit-mobile { display: block; }
  .modal-window a.btn.btn-close-video { top: 10px; left: 0; right: 0; margin: 0 auto; }
  .modal-window .video-container { height: 70%; } }

@media screen and (min-width: 320px) and (max-width: 479px) { .accordion .accordion-section-title .txt-accord { padding-left: 15px; }
  .accordion .accordion-section-title .img-row > img.third-row { width: 26%; margin-right: 5px; }
  .accordion .accordion-section-title .img-row > img { margin-left: 5px; }
  .lang-it .accordion .accordion-section-title .txt-accord, .lang-pt .accordion .accordion-section-title .txt-accord { font-size: 15px; } }

@media screen and (min-width: 480px) and (max-width: 767px) { .accordion .accordion-section-title { width: 448px; height: 106px; }
  .accordion .accordion-section-title .txt-accord { font-size: 18px; width: 343px; height: 40px; line-height: 30px; float: left; }
  .accordion .accordion-section-title .img-row { top: 65px; left: 10px; height: 30px; line-height: 30px; }
  .accordion .accordion-section-title .img-row > img { max-width: 100%; }
  .accordion .accordion-section-title .img-row > img.nth-child { width: 9%; }
  .accordion .accordion-section-title i.icon.icon-arrow { height: 106px; }
  .accordion .accordion-section-title > span { display: block; }
  .accordion .accordion-section-content .description-img > p, .accordion .accordion-section-content .description-img > img { float: none; width: 100%; } }

@media screen and (min-width: 768px) and (max-width: 990px) { .container { width: 720px; }
  .accordion .accordion-section-title { width: 718px; }
  .accordion .accordion-section-title .txt-accord { font-size: 17px; width: 300px; display: block; line-height: 1.4; padding-top: 13px; } }

@media screen and (max-width: 479px) { .bitcoin.step-1 > .coin-footer, .bitcoin.step-2 > .coin-footer { width: 100%; }
  .bitcoin.step-1, .bitcoin.step-2 { width: 100%; } }

@media screen and (min-height: 180px) and (max-height: 480px) { #bitcoin .header-bit .main-block .qr-block #qrcode { width: 50px; height: 50px; } }

@media screen and (min-width: 1026px) and (max-width: 1200px) { .s-logos { left: 60%; width: auto; } }

.bitcoin-wrap ul, ol{ padding-left: 40px; }

